body {
  background: #f7f2ee;
  margin: 0;
  font-family: 'Prompt', sans-serif;
}
header {
  background-image: url("./images/header-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 120px 20px 0 20px;
  height: 350px;
  margin-top: -100px;
}
h1 {
  margin: 0;
  font-family: 'Days One', sans-serif;
}
header p {
  margin: 0;
}
.main {
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 90%;
  position: relative;
  top: -50px;
  border-radius: 5px;
  box-shadow: 4px 4px 8px 1px rgba(0, 0, 0, 0.2);
}
.list-header {
  display: flex;
  justify-content: space-around;
  width: 90%;
  margin-bottom: 20px;
  margin-top: -110px;
}
.character-sheet {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.box {
  //background: lightgreen;
  width: 150px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box:last-of-type {
  width: 100px;
}
.detailBox {
  //background: lightyellow;
  display: flex;
  //flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  margin: auto;
  border-top: 1px solid #d9c3b0;
  width: 90%;
}
.detail-wrapper {
  //background: lightblue;
  padding: 10px;
}
.detail-wrapper p {
  margin: 0;
}
.detail-wrapper p:first-of-type {
  font-size: 14px;
  color: hsla(0, 0%, 0%, 0.8);
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: left;
}
.character p {
  font-size: 20px;
}
.character {
  display: flex;
  flex-direction: column;
  width: 90%;
  text-align: center;
  margin-bottom: 40px;
  border: 1px solid #d9c3b0;
  border-radius: 5px;
}
.wrapper {
  display: flex;
  justify-content: space-around;
  //background: pink;
}
.fa-info:hover, .details-icon:hover {
  cursor: pointer;
  color: #1c86b0;
}
.fa-info {
  margin: 0 10px;
}
.details-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  padding: 0 10px 0 0;
  width: 20px;
  height: 30px;
  border: 2px solid #1c86b0;
}
.details-icon-after {
  width: 100px;
}
.details-icon p {
  font-size: 18px;
}
button {
  background: #166b8c;
  color: #fff;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  outline: none;
  padding: 10px;
  margin-bottom: 30px;
  width: 150px;
}
button:hover {
  cursor: pointer;
  background: #1c86b0;
}
.search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -140px;
  width: 80%;
  border-radius: 5px;
  box-shadow: 4px 4px 8px 1px rgba(0, 0, 0, 0.2);
}
select {
  height: 50px;
  width: 85%;
  border: none;
  font-family: 'Prompt', sans-serif;
  font-size: 16px;
  padding: 5px 14px;
  appearance: none;
}
select:hover {
  cursor: pointer;
}
input {
  border: none;
  height: 50px;
  width: 75%;
  font-family: 'Prompt', sans-serif;
  font-size: 16px;
  padding: 5px 0 5px 10px;
  outline: none;
}
.input-border {
  display:inline-block;
  width: 0;
  height: 2px;
  background: #1c86b0;
  position: absolute;
  bottom: 5px;
  transition: all ease-in-out 0.5s;
}
input:focus + .input-border {
  width: 70%;
}
.fa-chevron-down {
  position: absolute;
  bottom: 80px;
  right: 40px;
  transform: rotateX(0deg);
  transition: transform 1s;
}
select:focus + .fa-chevron-down {
  transform: rotateX(-180deg);
}
.fa-search {
  position: absolute;
  bottom: 20px;
  right: 40px;
}
.fa-search:hover {
  cursor: pointer;
  color: #1c86b0
}
label {
  height: 50px;
  width: 100%;
  background: #fff;
  padding: 7px 0 7px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: hsla(0, 0%, 0%, 0.8);
}
label:first-of-type {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  display: flex;
  flex-direction: column;
}
form label:last-of-type {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
}
form {
  width: 100%;
}
form label:last-of-type:after {
  content: "";
  position: absolute;
  bottom: 65px;
  width: 70%;
  border-bottom: 1px solid #d9c3b0;
}
